

@media (min-width:1200px) /* lg*/ {
    .container{
        width: 1200px;
        max-width: 100%;
    }
    .row_pc{
        margin-left: -15px;
        margin-right: -15px;
    }
    .search_box{
        margin-top: 11px;
    }
    .search_box{
        position: relative;
    }
    .search_box:after{
        content: "";
        display: inline-block;
        width: 1px;
        height: 13px;
        background: #999;
        position: absolute;
        top: 14px;
        left: 0px;
    }
    .col-lg-350{
        width: 35%;
    }
    .col-lg-300{
        width: 30%;
    }
    .box_dk_bot{
        display: block;
        width: 585px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .intro_text{
        padding-left: 65px;
        padding-right: 15px;
    }
    .intro-content2{
        padding-right: 130px;
    }
}

@media (min-width:992px) and (max-width:1199px) /* md*/{
    .search_box{
        margin-top: 11px;
    }
    .search_box{
        position: relative;
    }
    .search_box:after{
        content: "";
        display: inline-block;
        width: 1px;
        height: 14px;
        background: #999;
        position: absolute;
        top: 15px;
        left: 0px;
    }
    .nav-menu > .menu-item > .menu-link {
        padding: 19px 3px 15px 3px;
        font-size: 13px;
    }
    .sb-search-input {
        z-index: 5;
    }
    .intro-content{
        font-size: 13px;
        line-height: 20px;
    }
    .intro-title{
        font-size: 22px;
    }
    .intro_text{
        padding-left: 65px;
        padding-right: 15px;
    }
    .intro-content2{
        padding-right: 30px;
        line-height: 22px;
    }
    .intro_text2{
        padding-top: 15px;
        padding-bottom: 10px;
    }
}

@media (min-width:768px) and (max-width:991px) /* sm*/{
    .sc_head_bot.sticky-header{
        position: relative !important;
    }
    .sb-search-input {
        z-index: 5;
    }
    .intro-title{
        font-size: 22px;
    }
}
@media (max-width:767px) /* xs*/{
    .sc_head_bot.sticky-header{
        position: relative !important;
    }
    .tit_home1{
        font-size: 24px;
    }
    .tit_home2{
        font-size: 24px;
    }
    .tit_dk_bot{
        font-size: 28px;
    }
    .intro-title{
        font-size: 22px;
    }
    .des_dv{
        height: auto !important;
    }
}

@media (max-width:480px) {
    .col-480-12{
        width: 100% !important;
    }
    .col-480-6{
        width: 50% !important;
    }
    .hidden-480{
        display: none !important;
    }
    .tit_home1:before {
        width: 100%;
        height: 3px;
        bottom: 1px;
        left: 0px;
        margin-left: 0px;
    }
    .tit_home2:before {
        width: 100%;
        height: 3px;
        bottom: 1px;
        left: 0px;
        margin-left: 0px;
    }
}

.visible-480{
    display: none;
}
