@font-face {
  font-family: UVNHongHaHep;
  src: url("../fonts/UVNHongHaHep.eot?#iefix") format("embedded-opentype"), url("../fonts/UVNHongHaHep.woff") format("woff"), url("../fonts/UVNHongHaHep.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: UVNHongHaHepBold;
  src: url("../fonts/UVNHongHaHepBold.eot?#iefix") format("embedded-opentype"), url("../fonts/UVNHongHaHepBold.woff") format("woff"), url("../fonts/UVNHongHaHepBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: UTMHelvetIns;
  src: url("../fonts/UTMHelvetIns.eot?#iefix") format("embedded-opentype"), url("../fonts/UTMHelvetIns.woff") format("woff"), url("../fonts/UTMHelvetIns.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'arial', sans-serif;
  font-size: 14px;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-size: 1em;
  line-height: 1.4;
}

/* -------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
.clb-header {
  clear: both;
  height: 62px;
}

.clb {
  clear: both;
}

.clb5 {
  clear: both;
  height: 5px;
}

.clb10 {
  clear: both;
  height: 10px;
}

.clb20 {
  clear: both;
  height: 20px;
}

.clb30 {
  clear: both;
  height: 30px;
}

.clb40 {
  clear: both;
  height: 40px;
}

.p0 {
  padding: 0;
}

.p10 {
  padding: 0 1px;
}

.m-10 {
  margin: 0 -1px;
}

.p45 {
  padding: 0 4.5px;
}

.m-45 {
  margin: 0 -4.5px;
}

.p60 {
  padding: 06px;
}

.m-60 {
  margin: 0 -6px;
}

.p80 {
  padding: 0 8px;
}

.m-80 {
  margin: 0 -8px;
}

.p100 {
  padding: 0 10px;
}

.m-100 {
  margin: 0 -10px;
}

.p130 {
  padding: 0 13px;
}

.m-130 {
  margin: 0 -13px;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* -------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
a {
  color: inherit;
}

a:hover, a:focus {
  text-decoration: none;
  color: #58c603;
}

.tdn {
  text-decoration: none;
}

.tdn:hover {
  text-decoration: none;
}

.dtb {
  display: table;
  margin: auto;
}

.dtb .dtc {
  display: table-cell;
  table-layout: fixed;
}

.dtb .dtc.vat {
  vertical-align: top;
}

.dtb .dtc.vam {
  vertical-align: middle;
}

.dtb .dtc.vab {
  vertical-align: bottom;
}

#go_top {
  z-index: 99999;
  color: #fff;
  width: 40px;
  height: 40px;
  background: #58c603;
  -webkit-background-size: 300% auto;
          background-size: 300% auto;
  opacity: 0.7;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  line-height: 35px;
  font-size: 25px;
  padding: 0 9.5px;
}

.chat-online {
  position: fixed;
  z-index: 2;
  bottom: 0;
  right: 110px;
  cursor: pointer;
}

.fl-l {
  float: left;
}

.fl-r {
  float: right;
}

.dib {
  display: inline-block;
}

.center-item {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: auto;
  max-width: 100%;
}

img.wi,
.wi img {
  width: initial !important;
}

img.wa,
.wa img {
  width: auto !important;
}

.w1 {
  width: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bg1 {
  background: #58c603;
}

.c1 {
  color: #58c603;
}

.bg2 {
  background: #58c603 ;
}

.c2 {
  color: #f19d2f;
}

.bg3 {
  background: #075aaf;
}

.bg4 {
  background: #fe020d;
}

.bg-gray {
  background: #cfcfcf;
}

.h170 {
  height: 170px;
}

.h500 {
  height: 500px;
}

.upper {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

/*  
// ****************************************************************************
// *                                  header                                  *
// ****************************************************************************
*/
header {
  position: relative;
  z-index: 3;
}

header.fixed,
header .fixed {
  background: #fff;
  position: fixed;
  z-index: 3;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-box-shadow: 1px -1px 8px 0px black;
          box-shadow: 1px -1px 8px 0px black;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

header.fixed .logo_pc img,
header .fixed .logo_pc img {
  width: 40%;
}

header.fixed .box_search,
header .fixed .box_search {
  margin-top: 10px;
}

header.fixed .cartt,
header .fixed .cartt {
  margin-top: 6px;
  float: right;
}

header.fixed .suggest,
header.fixed .listSuggest,
header.fixed .mid-right,
header .fixed .suggest,
header .fixed .listSuggest,
header .fixed .mid-right {
  display: none;
}

.qts_head_top {
  font-size: 14px;
  background: #f2f2f2;
  border-bottom: 1px solid #e1e1e1;
}

.qts_head_top .img_logo_mb {
  max-height: 60px;
  width: initial;
}

.qts_head_top .top-left {
  padding-top: 0px;
}

.qts_head_top .top-left .hd-hot {
  font-size: 12px;
  font-style: italic;
}

.qts_head_top .top-right .hd-tin a {
  margin: 0 0 0 35px;
}

.qts_head_top .login {
  margin-right: 5px;
}

.qts_head_top .login a {
  color: #000;
}

.qts_head_top .login a:hover {
  text-decoration: underline;
}

.qts_head_mid {
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
}

.qts_head_mid .hder-mid-pad {
  position: relative;
}

.qts_head_mid .logo,
.qts_head_mid .name,
.qts_head_mid .hotline-top {
  display: inline-block;
}

.qts_head_mid .logo img,
.qts_head_mid .name img,
.qts_head_mid .hotline-top img {
  width: initial;
}

.qts_head_mid .logo,
.qts_head_mid .logo_pc {
  margin: 0;
}

.qts_head_mid .logo img,
.qts_head_mid .logo_pc img {
  position: relative;
  margin-top: 3px;
  margin-left: 0px;
  margin-bottom: 9px;
  margin-right: 0px;
}

.qts_head_mid .name {
  text-align: center;
}

.qts_head_mid .name h1 {
  position: relative;
  display: block;
  top: 0px;
  color: #58c603;
  font-family: 'roboto', sans-serif;
  line-height: 1.2;
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 0;
}

.qts_head_mid .name .slogan {
  display: inline-block;
  font-size: 14px;
  color: #5b5b5b;
  line-height: 1.35;
  margin-top: 5px;
}

.qts_head_mid .box_search {
  display: block;
  width: 100%;
  max-width: 100%;
  border: 2px solid #58c603;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 0px;
}

.qts_head_mid .box_search .drop_search {
  -webkit-border-radius: 0;
          border-radius: 0;
  background: #fff;
  font-size: 13px;
  padding: 4px 25px 4px 12px;
}

.qts_head_mid .box_search .input_search {
  border: none;
}

.qts_head_mid .box_search .input_search::-webkit-input-placeholder {
  font-size: 12px;
}

.qts_head_mid .box_search .input_search::-moz-placeholder {
  font-size: 12px;
}

.qts_head_mid .box_search .input_search:-ms-input-placeholder {
  font-size: 12px;
}

.qts_head_mid .box_search .input_search::placeholder {
  font-size: 12px;
}

.qts_head_mid .box_search .butt_search {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  background: #58c603 url(../img/i-search.png) center center no-repeat;
  padding-left: 60px;
  text-align: center;
  -webkit-border-radius: 0;
          border-radius: 0;
  border-color: #58c603;
  padding: 16px 25px;
  border: 1px solid #fff;
  margin-right: 0px;
}

.qts_head_mid .box_search .butt_search:hover, .qts_head_mid .box_search .butt_search:focus {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.qts_head_mid p.suggest {
  color: #666;
  font-size: 12px;
  float: left;
  padding: 6px 0;
  padding-right: 15px;
}

.qts_head_mid .listSuggest {
  float: left;
  padding: 3px 0;
  max-width: 410px;
}

.qts_head_mid .listSuggest a {
  font-size: 12px;
  color: #aaa;
  margin-right: 10px;
}

.qts_head_mid .listSuggest a:hover {
  color: blue;
}

.qts_head_mid .cartt {
  margin-top: 26px;
  margin-right: 20px;
}

.qts_head_mid .cartt a {
  color: #58c603;
  font-weight: bold;
}

.qts_head_mid .cartt a:hover {
  text-decoration: underline;
}

.qts_head_mid .cartt .number {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  right: 8px;
  font-size: 13px;
}

.qts_head_mid .mid-right {
  text-align: right;
  margin-right: 0px;
}

.qts_head_mid .mid-right .hotline-mid {
  background: url(../img/i-hl-top.png) left center no-repeat;
  text-transform: uppercase;
  color: #4abd06;
  font-family: UTMHelvetIns;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.1;
  padding-left: 30px;
  margin-top: 39px;
}

.qts_head_mid .mid-right .hotline-mid span {
  display: inline-block;
  font-size: 25px;
}

.qts_head_mid .mid-right .social-top {
  margin-top: 4px;
}

.si {
  background: url(../img/spriteIcon.png) no-repeat transparent;
}

.qts_head_bot .menu_bg {
  background: #58c603;
}

.qts_head_bot .box_search {
  background: #689663;
  display: block;
  width: 600px;
  max-width: 100%;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  overflow: hidden;
  margin: auto;
  margin: 9.5px 0;
}

.qts_head_bot .box_search .input_search,
.qts_head_bot .box_search .butt_search {
  height: 22px;
  border: none;
}

.qts_head_bot .box_search .input_search {
  font-size: 12px;
  border: none;
  background: transparent;
  color: #fff;
  -webkit-border-radius: 0;
          border-radius: 0;
}

.qts_head_bot .box_search .input_search::-webkit-input-placeholder {
  color: #58c603;
}

.qts_head_bot .box_search .input_search::-moz-placeholder {
  color: #58c603;
}

.qts_head_bot .box_search .input_search:-ms-input-placeholder {
  color: #58c603;
}

.qts_head_bot .box_search .input_search::placeholder {
  color: #58c603;
}

.qts_head_bot .box_search .input_search:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.qts_head_bot .box_search .butt_search {
  color: #fff;
  font-size: 12px;
  background: url(../img/i-search.png) center center no-repeat;
  text-align: center;
  border-left: 1px solid #58c603;
  -webkit-border-radius: 0;
          border-radius: 0;
  margin-right: -1px;
}

.qts_head_bot .box_search .butt_search:hover, .qts_head_bot .box_search .butt_search:focus {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.qts_head_bot .menu .menu-heading {
  text-transform: uppercase;
  color: #fff;
  background: #4abd06;
  line-height: 36px;
  display: block;
  cursor: pointer;
  padding: 0 15px;
  margin: 0;
}

.qts_head_bot .menu .menu-heading .fa {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 18px;
}

.qts_head_bot .menu .menu-content {
  display: none;
  position: absolute;
  width: 100%;
  background: #f1f1f1;
  min-height: 444px;
}
.qts_head_bot .menu:hover .menu-content{
  display: block;
}
.qts_head_bot .menu .menu-content.open {
  display: block;
}

.qts_head_bot .menu .menu-content .cate-menu {
  position: relative;
  z-index: 2;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.qts_head_bot .menu .menu-content .cate-menu > li {
  border-left: 2px solid transparent;
}

.qts_head_bot .menu .menu-content .cate-menu > li:hover {
  border-left: 2px solid #58c603;
  background-color: #fff;
}

.qts_head_bot .menu .menu-content .cate-menu > li:first-child {
  border-top: none;
}

.qts_head_bot .menu .menu-content .cate-menu li {
  position: relative;
}

.qts_head_bot .menu .menu-content .cate-menu li a {
  display: block;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  font-weight: normal;
  padding: 10px 10px 10px 30px;
}

.qts_head_bot .menu .menu-content .cate-menu li a:hover {
  color: #58c603;
}

.qts_head_bot .menu .menu-content .cate-menu li.dropdown {
  position: relative;
  z-index: 1;
}

.qts_head_bot .menu .menu-content .cate-menu li.dropdown:hover .dropdown-content {
  display: block;
  z-index: 999;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  left: 100%;
}

.qts_head_bot .menu .menu-content .cate-menu li.dropdown .dropdown-content {
  position: absolute;
  list-style-type: none;
  padding: 0px 10px;
  width: 100%;
  top: 0px;
  left: -9999px;
  z-index: -1;
  background: #fff;
  -webkit-transform: scale(0.7, 1);
      -ms-transform: scale(0.7, 1);
          transform: scale(0.7, 1);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.qts_head_bot .menu .menu-content .cate-menu > li > a {
  position: relative;
  padding-left: 40px;
}

.qts_head_bot .menu .menu-content .cate-menu > li > a:before {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAJCAYAAAD6reaeAAAALElEQVQYV2Nk8Nn/n2GLIyMDEkDhwMQZ4SqRdBCp0mf/fyJVMjAwEFCJ5E4A3N4aFNJS8yUAAAAASUVORK5CYII=);
  position: absolute;
  top: 10px;
  left: 20px;
}

.qts_head_bot .menu .menu-content .cate-menu .dropdown {
  position: static !important;
}

.qts_head_bot .menu .menu-content .cate-menu .dropdown .dropdown-content {
  height: 444px;
  overflow: auto;
}

.qts_head_bot .menu .menu-content .cate-menu .dropdown .dropdown-content::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.qts_head_bot .menu .menu-content .cate-menu .dropdown .dropdown-content::-webkit-scrollbar-thumb {
  background: #C1C1C1;
}

.qts_head_bot .menu .menu-content .cate-menu .dropdown .dropdown-content::-webkit-scrollbar-track {
  background: #e0e0e0;
}

.qts_head_bot .menu .menu-content .cate-menu .dropdown .dropdown-content body {
  scrollbar-face-color: #C1C1C1;
  scrollbar-track-color: #e0e0e0;
}

.qts_head_bot .menu .menu-content .cate-menu .dropdown .dropdown-content li a {
  padding-left: 0;
  padding-right: 0;
}

.qts_head_bot .policy {
  background: #58c603;
  height: 36px;
  line-height: 36px;
  overflow: hidden;
}

.qts_head_bot .policy a {
  font-size: 12px;
  color: black;
  display: inline-block;
  font-weight: bold;
  white-space: nowrap;
  padding-left: 30px;
  margin: 0 35px;
}

.qts_head_bot .policy a:hover {
  color: #fff;
}

.qts_head_bot .policy a.nth1 {
  background-position: 0 -1130px;
  margin-left: 90px;
}

.qts_head_bot .policy a.nth2 {
  background-position: 0 -1160px;
}

.qts_head_bot .policy a.nth3 {
  background-position: 0 -1187px;
}

/*  
// ****************************************************************************
// *                                   main                                   *
// ****************************************************************************
*/
.backlink {
  -webkit-box-shadow: inset 0 3px 2px #ccc;
          box-shadow: inset 0 3px 2px #ccc;
  background: #f3f3f3;
  padding: 10px 0;
}

ul.breadcrumbs-cate {
  list-style-type: none;
  padding-left: 0;
  padding: 25px 0;
  margin-bottom: 5px;
}

ul.breadcrumbs-cate li {
  color: #58c603;
  display: inline-block;
  position: relative;
  padding-right: 10px;
}

ul.breadcrumbs-cate li:after {
  content: '/';
  color: #333;
  position: absolute;
  top: 0;
  right: 0px;
  font-weight: normal;
}

ul.breadcrumbs-cate li:last-child:after {
  content: none;
}

ul.breadcrumbs-cate li a {
  color: #333;
  font-weight: normal;
  text-transform: uppercase;
}

ul.breadcrumbs-cate li a:hover {
  color: #58c603;
}

ul.breadcrumbs-cate.detail-page {
  font-size: 12px;
  line-height: 40px;
  background: #58c603;
  -webkit-border-top-left-radius: 5px;
          border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
          border-top-right-radius: 5px;
  padding: 3px 20px;
}

ul.breadcrumbs-cate.detail-page * {
  color: #fff !important;
}

ul.breadcrumbs-cate.detail-page li:after {
  color: #fff;
}

ul.breadcrumbs-cate.detail-page li a:hover {
  text-decoration: underline !important;
}

.heading {
  font-family: UVNHongHaHepBold;
  position: relative;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  color: #075aaf;
}

.heading:before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background: #075aaf;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
}

.heading span {
  position: relative;
  background: #fff;
  display: inline-block;
  padding: 0 30px;
}

.heading1 {
  position: relative;
  background: #58c603;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  padding-left: 40px;
  margin-bottom: 0;
}

.heading1:before {
  content: '';
  position: absolute;
  font-family: FontAwesome;
  content: "\f0c9";
  color: #fff;
  left: 10px;
  font-size: 18px;
}

.heading1:after {
  content: '';
  position: absolute;
  border: 5px solid transparent;
  border-bottom-color: #fff;
  bottom: 0;
  left: 12px;
}

.prod {
  text-align: center;
  padding-bottom: 10px;
  border: 1px solid #58c603;
  padding: 10px;
  margin: 1px;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.prod:hover {
  -webkit-box-shadow: 0 10px 10px -9px rgba(0, 0, 0, 0.7), 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px -9px rgba(0, 0, 0, 0.7), 0 0 3px rgba(0, 0, 0, 0.5);
}

.prod img {
  padding: 2px;
}

.prod img:hover {
  opacity: 0.85;
}

.prod h3 {
  font-size: 12px;
  color: #188bb8;
  margin-top: 10px;
  margin-bottom: 5px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}

.prod h3:hover {
  color: #58c603;
}

.prod .prod-price {
  color: #58c603;
  font-weight: bold;
  font-size: 13px;
}

.prod .prod-price s {
  font-size: 12px;
  color: #ccc;
}

.prod h3.main {
  height: 40px;
  line-height: 20px;
  overflow: hidden;
}

.prod .more {
  font-size: 12px;
  color: #000;
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e6e5e5));
  background: -webkit-linear-gradient(#fff, #e6e5e5);
  background: -o-linear-gradient(#fff, #e6e5e5);
  background: linear-gradient(#fff, #e6e5e5);
  padding: 0px 20px;
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.prod .more:hover, .prod .more:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(60%, #e6e5e5));
  background: -webkit-linear-gradient(#fff, #e6e5e5 60%);
  background: -o-linear-gradient(#fff, #e6e5e5 60%);
  background: linear-gradient(#fff, #e6e5e5 60%);
}

.prod .cartt img {
  border: none;
  width: initial;
}

.prod .cartt img:hover {
  -webkit-filter: drop-shadow(0 0 1px #666);
          filter: drop-shadow(0 0 1px #666);
}

.prod .but-buy {
  display: inline-block;
    background: #4abd06;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: #fff;
  padding: 0 10px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}

.prod .but-buy img {
  display: inline-block;
}

.prod .but-buy:hover {
  background: #4abd06;
}

[class^="arc"] {
  background: #fff;
  padding: 15px;
  margin-bottom: 20px;
}
[class^="arc1"] {
    background: #fff;
    padding: 15px;
    margin-bottom: 0px;
}

.arc1 {
  padding: 0;
}

.arc1 .rightside-banner img {
  width: 100%;
  height: 222px;
}

.arc2.cate .prod {
  border-color: #d7d7d6;
  margin-bottom: 20px;
}

.arc2 .prod {
  margin-bottom: 0px;
}

.arc2 .home-tabs {
  text-align: center;
}

.arc2 .home-tabs li {
  display: inline-block;
}

.arc2 .home-tabs li.active a {
  background: #58c603;
  color: #fff;
}

.arc2 .home-tabs li a {
  color: #999;
  font-size: 12px;
  padding: 5px 20px 3px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.arc3 .tin-tit {
  position: relative;
  background: #58c603;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  padding: 10px 20px;
}

.arc3 .tin-tit:after {
  content: '';
  position: absolute;
  right: 15px;
  top: 17px;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0 0 0 2px #58c603, 0 0 0 4px #fff;
          box-shadow: 0 0 0 2px #58c603, 0 0 0 4px #fff;
}

.arc3 ul li a {
  display: block;
  font-size: 12px;
  color: #000;
  padding: 10px 15px;
}

.arc3 ul li a:hover {
  color: #58c603;
}

.img-ef {
  width: 100%;
  overflow: hidden;
  display: inline-block;
}

.img-ef:hover img {
  -webkit-transform: translateX(-5px);
      -ms-transform: translateX(-5px);
          transform: translateX(-5px);
}

.img-ef img {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
}

.arc4 {
  padding: 0;
}

.arc4 .showCate .title {
  width: 100%;
}

.arc4 .showCate .title h3 {
  margin: 0;
}

.arc4 .showCate .title h3 span {
  padding-right: 25px;
}

.arc4 .showCate .title h3 a {
  display: inline-block;
  padding: 9px 10px;
  padding-right: 0;
  color: #fff;
}

.arc4 .showCate .title .title-but {
  position: relative;
  width: 100%;
}

.arc4 .showCate .title .title-but:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 1px;
  bottom: 1px;
  width: 1px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(50%, white), color-stop(99%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 99%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 99%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 99%);
}

.arc4 .showCate .title .title-but a {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 48%;
  padding: 10px;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.arc4 .showCate .title .title-but a:hover {
  padding-left: 5px;
}

.arc4 .showCate .title .title-but a i {
  width: 30px;
  height: 25px;
  display: inline-block;
  margin-top: 5px;
}

.arc4 .showCate .title .title-link {
  height: 390px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 0;
}

.arc4 .showCate .title .title-link li a {
  position: relative;
  display: block;
  padding: 6px 10px;
  padding-left: 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.arc4 .showCate .title .title-link li a:hover {
  padding-left: 25px;
}

.arc4 .showCate .title .title-link li a:before {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAFCAYAAAB4ka1VAAAAKUlEQVQYV2NkQANJSUn/582bxwgThjOQ1SErYoRxQDS6aSCTCJtAyA0AhMUYBgG6I/YAAAAASUVORK5CYII=);
  position: absolute;
  left: 5px;
  top: 6px;
}

.arc4 .showCate .prod2 {
  text-align: center;
  padding: 13.5px 0;
  border: 1px solid #e1e1e1;
  margin-top: -1px;
  margin-right: -1px;
}

.arc4 .showCate .prod2 .relative {
  width: 100%;
  overflow: hidden;
}

.arc4 .showCate .prod2 .relative:hover img {
  -webkit-transform: translateX(-3px);
      -ms-transform: translateX(-3px);
          transform: translateX(-3px);
}

.arc4 .showCate .prod2 .relative:hover .dp-bot {
  opacity: 1;
}

.arc4 .showCate .prod2 .relative img {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.arc4 .showCate .prod2 .dp-bot {
  font-family: UVNHongHaHepBold;
  opacity: 0;
  font-size: 15px;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 4px 0;
  background: #58c603;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.arc4 .showCate .prod2 .dp-bot:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.arc4 .showCate .prod2 .dp-top-right {
  position: absolute;
  line-height: 62px;
  text-align: center;
  top: 10px;
  right: 10px;
  width: 52px;
  height: 59px;
  background: url(../img/sale.png) center center no-repeat;
  color: #fff;
  font-size: 14px;
  font-style: italic;
}

.arc4 .showCate .prod2 .prod-price {
  color: #58c603;
  font-weight: bold;
}

.arc4 .showCate .prod2 .prod-price s {
  color: #999;
  font-weight: normal;
}

.c1 .showCate .title h3 {
  background: #4abd06 url("../img/4.png") no-repeat;
}

.c1 .showCate .title .title-but {
  background-color: #4abd06;
}

.c2 .showCate .title h3 {
  background: #4abd06 url("../img/4.png") no-repeat;
}

.c2 .showCate .title .title-but {
  background-color: #4abd06;
}

.c3 .showCate .title h3 {
  background: #4abd06 url("../img/4.png") no-repeat;
}

.c3 .showCate .title .title-but {
  background-color: #4abd06;
}

.c4 .showCate .title h3 {
  background: #4abd06 url("../img/4.png") no-repeat;
}

.c4 .showCate .title .title-but {
  background-color: #4abd06;
}

.c5 .showCate .title h3 {
  background: #4abd06 url("../img/4.png") no-repeat;
}

.c5 .showCate .title .title-but {
  background-color: #4abd06;
}

.c6 .showCate .title h3 {
  background: #4abd06 url("../img/4.png") no-repeat;
}

.c6 .showCate .title .title-but {
  background-color: #4abd06;
}

/* ====================================page cate */
.qts_mid_content .phantrang ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.qts_mid_content .phantrang ul li {
  display: inline-block;
  margin: 4px;
}

.qts_mid_content .phantrang ul li:hover a,
.qts_mid_content .phantrang ul li.active a {
  background: #4abd06;
  border-color: #4abd06;
  color: #fff;
}

.qts_mid_content .phantrang ul li a {
  color: #000;
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  padding: 6px 10px;
  font-weight: bold;
}

.filter {
  border: 5px solid #E9EDEE;
  margin-bottom: 30px;
  position: relative;
}

#miniFilter {
  position: absolute;
  right: 5px;
  bottom: -21px;
  background: #E9EDEE;
  padding: 2px 5px;
  cursor: pointer;
}

.filter > div {
  border-top: 1px solid #ddd;
  min-height: 45px;
  padding-left: 125px;
  position: relative;
  overflow: hidden;
  height: 45px;
  padding-right: 30px;
}

.filter > div.full {
  height: inherit;
}

.filter > div > span {
  line-height: 45px;
  background: #F5F6F8;
  color: #7292a7;
  height: 100%;
  width: 125px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.filter > div > i.fa {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  line-height: 45px;
  cursor: pointer;
  text-align: center;
}

.filter > div > a {
  display: inline-block;
  margin: 0 20px;
  line-height: 45px;
}

.filter .attr > a {
  border: 1px solid #fff;
  min-width: 20px;
  height: 20px;
  -webkit-box-shadow: 0 0 0 1px #b8b8b8;
          box-shadow: 0 0 0 1px #b8b8b8;
  margin: 11px 0 11px 15px;
  text-align: center;
  line-height: 22px;
}

.filter > div > a:hover {
  color: #F14E23;
}

.filtered {
  padding: 10px 0;
}

.filtered > span {
  display: inline-block;
  border: 1px solid #e8b6a9;
  padding: 0 5px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  margin-right: 5px;
}

.filtered > span > a {
  display: inline-block;
  color: #e8b6a9;
  padding: 2px 5px;
}

.filterSmall {
  height: 30px;
  background: #F2F2F2;
}

.filterSmall > a {
  display: inline-block;
  background: #fff;
  border: 1px solid #ddd;
  padding: 3px 10px;
  margin: 3px;
  cursor: pointer;
}

.filterSmall > a > i {
  color: #F14E23;
  font-size: 11px;
}

.filterSmall > a:hover,
.filterSmall > a.active {
  color: #F14E23;
  background: #FDF7F7;
}

.filterSmall input[type="text"] {
  height: 21px;
  text-align: right;
  width: 100px;
  padding: 0 3px;
}

.filter-select select {
  min-width: 200px;
  padding: 10px 20px;
}

/* ====================================page detail */
.detail #middleProductView h1 {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 100px 10px 0;
  position: relative;
}

.detail #middleProductView h1 > span {
  color: #E60000;
  font-size: 17px;
}

.detail #middleProductView h1 > sub {
  position: absolute;
  top: 15px;
  right: 0;
  font-size: 11px;
  color: #58c603;
  cursor: pointer;
}

.detail #middleProductView > p,
.detail #middleProductView div[data-step="2"] > p {
  display: block;
  padding: 5px 0;
}

.detail #voteView0 {
  background-position: 0 -329px;
  line-height: 18px;
  text-align: right;
  display: block;
}

.detail #middleProductView .pageView {
  float: left;
  width: 32%;
  text-align: center;
  font-size: 11px;
  color: #747474;
}

.detail #middleProductView .pageView > b {
  font-size: 15px;
}

.detail .de-price {
  font-size: 25px;
  font-weight: bold;
  color: #d0021b;
}

.detail .qweqwe li a {
  display: inline-block;
}

.detail .qweqwe li a:before {
  content: url(../img/i-check.png);
  margin-right: 5px;
}

.detail .de-buy {
  background: #58c603;
  color: #fff;
  font-size: 20px;
  padding: 5px 20px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
}

.detail .prod-desc {
  margin-bottom: 30px;
  font-size: 16px;
}

.detail .prod-desc .tit {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.detail .prod-desc img {
  display: block;
  padding: 20px 0;
  margin: auto;
}

.detail .comment h6 {
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
}

.detail .comment .box_comment {
  background: #eee;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 15px;
}

.detail .comment .box_comment .box_tit {
  font-size: 16px;
  margin-bottom: 30px;
}

.detail .comment .box_comment input {
  border: 1px solid #ddd;
  padding: 5px 8px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  display: block;
  width: 290px;
  margin-bottom: 5px;
}

.detail .comment .box_comment input::-webkit-input-placeholder {
  color: #a7a6a6;
}

.detail .comment .box_comment [type='submit'] {
  width: initial;
  color: #fff;
  background: #0092db;
  padding: 7px 40px;
}

.detail .comment .box_comment [type='submit']:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.detail .comment .box_comment textarea {
  border: 1px solid #ddd;
  padding: 5px 8px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  display: block;
  width: 100%;
  min-height: 60px;
  resize: vertical;
  margin-top: 30px;
  margin-bottom: 10px;
}

.detail .comment .box_comment textarea::-webkit-input-placeholder {
  color: #a7a6a6;
}

.de-form {
  border: 1px solid #f5f5f5;
  padding: 0px 20px;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  overflow: auto;
}

.de-form input {
  border: none;
  line-height: 64px;
  padding: 0 20px;
}

.de-form input:focus {
  border-color: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0 none;
}

.de-form button {
  float: right;
  background: #58c603 ;
  color: #fff;
  padding: 20px 40px;
  border: none;
  -webkit-border-radius: 100px;
          border-radius: 100px;
}

.detail-tabs {
  font-size: 20px !important;
  background: #fff;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 0;
}

.detail-tabs li {
  border-top: 2px solid transparent;
  display: inline-block;
  background: #e1e1e1;
}

.detail-tabs li.active, .detail-tabs li:focus, .detail-tabs li:hover {
  border-top-color: #58c603 ;
}

.detail-tabs li.active a, .detail-tabs li:focus a, .detail-tabs li:hover a {
  background: #58c603;
  color: #fff;
}

.detail-tabs li a {
  font-size: 14px;
}

.tab-content {
  padding: 15px;
  /*border: 1px solid #e1e1e1;*/
  /*border-top: none;*/
}

.but-group {
  margin: 20px 0;
}

.but-group .but-buy {
  color: #fff;
  background: #58c603 ;
  display: inline-block;
  padding: 10px 20px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  margin: 9px;
  -webkit-box-shadow: 0 1px 1px #fff, 0 3px 1px #ccc;
          box-shadow: 0 1px 1px #fff, 0 3px 1px #ccc;
}

.but-group .but-buy img {
  margin-right: 5px;
}

.lienquan .prod {
  border-color: #e1e1e1;
}

.lienquan .detail-tit {
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 2px solid #58c603 ;
  margin-bottom: 30px;
}

.hoidap .hd-tit {
  position: relative;
  background: #58c603;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.hoidap .hd-tit:after {
  content: '';
  position: absolute;
  right: 15px;
  top: 17px;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0 0 0 2px #58c603, 0 0 0 4px #fff;
          box-shadow: 0 0 0 2px #58c603, 0 0 0 4px #fff;
}

.hoidap .dropdowne {
  margin-bottom: 10px;
}

.hoidap .dropdowne.is-active > p:before {
  content: "\f068";
}

.hoidap .dropdowne.is-active .dropdown-content {
  display: block;
}

.hoidap .dropdowne > p {
  position: relative;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  padding-left: 40px;
  background: #f4f4f4;
  border: 1px solid #ccc;
}

.hoidap .dropdowne > p:before {
  font-family: FontAwesome;
  content: "\f067";
  color: #58c603;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.hoidap .dropdowne > p .time {
  font-weight: normal;
}

.hoidap .dropdowne .dropdown-content {
  display: none;
  border: 1px solid #ccc;
  padding: 15px 10px;
}

.hoidap .dropdowne .dropdown-content .tit {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.hoidap .dropdowne .dropdown-content .as {
  padding-left: 30px;
  display: block;
}

/* 
// ****************************************************************************
// *                                   aside                                  *
// ****************************************************************************
*/
[class^='box'] {
  margin-bottom: 20px;
}

[class^='box'] .bder {
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 0px;
          border-radius: 0px;
  margin-bottom: 20px;
  border-top: none;
  padding: 0 10px;
}

[class^='box'] .bder .bder-content {
  padding: 0 10px;
  padding-bottom: 0;
}

.box1 .as-menu {
  padding: 0;
  list-style-type: none;
  margin-bottom: 0;
}

.box1 .as-menu > li {
  border-bottom: 1px dashed #e1e1e1;
}

.box1 .as-menu > li:last-child {
  border-bottom: none;
}

.box1 .as-menu > li:before {
  position: absolute;
  top: 10px;
  left: 5px;
}

.box1 .as-menu li {
  position: relative;
}

.box1 .as-menu li.dropdown:after {
  font-family: FontAwesome;
  content: "\f107";
  font-size: 20px;
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 35px;
  line-height: 35px;
  top: 0;
  right: 0;
  cursor: pointer;
  border-bottom: 0;
  text-align: right;
  padding: 0 10px;
}

.box1 .as-menu li .dropdown-content {
  list-style-type: none;
  padding-left: 0;
  max-height: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
}

.box1 .as-menu li .dropdown-content li {
  border-top: 1px solid #e1e1e1;
}

.box1 .as-menu li .dropdown-content li a {
  padding-left: 30px;
}

.box1 .as-menu li .dropdown-content li a:before {
  content: '+ ';
}

.box1 .as-menu li.dropdown.is-active:after {
  font-family: FontAwesome;
  content: "\f106";
}

.box1 .as-menu li.dropdown.is-active .dropdown-content {
  height: auto;
  max-height: 250px;
}

.box1 .as-menu li a {
  position: relative;
  display: block;
  font-size: 14px;
  color: #000;
  -webkit-transition: padding 0.3s;
  -o-transition: padding 0.3s;
  transition: padding 0.3s;
  padding: 8px 0px 5px 35px;
}

.box1 .as-menu li a:before {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHklEQVQYV2NkYGD4zwABjDA2nIEuCFWIoHCqxDATAKjXCAI2M8r+AAAAAElFTkSuQmCC);
  position: absolute;
  top: 6px;
  left: 15px;
}

.box1 .as-menu li a:hover {
  color: #58c603;
}

.box2 .layout-row {
  overflow: auto;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #e1e1e1;
}

.box2 .layout-row a img {
  width: 29%;
  float: left;
  margin-right: 5px;
}

.box2 .layout-row a img:hover {
  opacity: 0.85;
}

.box2 .layout-row h3 {
  margin-top: 0;
}

.box2 .layout-row h3:hover {
  color: #58c603;
}

.box2 .layout-row p {
  text-align: justify;
}

.box2 .layout-row:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.box2 .layout-row h3 {
  font-size: 16px;
}

.box3 .layout-row {
  overflow: auto;
  margin-bottom: 20px;
}

.box3 .layout-row a img {
  width: 40%;
  float: left;
  margin-right: 5px;
}

.box3 .layout-row a img:hover {
  opacity: 0.85;
}

.box3 .layout-row h3 {
  margin-top: 0;
}

.box3 .layout-row h3:hover {
  color: #58c603;
}

.box3 .layout-row p {
  text-align: justify;
}

.box3 .layout-row h3 {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  height: 60px;
  line-height: 15px;
  overflow: hidden;
  overflow: hidden;
  line-height: 1.2;
  margin-bottom: 0;
}

.box4 .bder {
  padding: 0 40px;
}

.box4 select {
  width: 100%;
  height: 30px;
  padding: 0 10px;
}

.box5 .thongke {
  font-size: 14px;
  padding: 0 15px 0 15px;
}

.box5 .thongke img {
  margin-right: 5px;
}

.box5 .thongke .center-item {
  margin: auto;
}

/* 
// ****************************************************************************
// *                                  footer                                  *
// ****************************************************************************
*/
footer {
  font-size: 12px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#fBorder {
  background: #5e5653;
}

#fBorder > p {
  height: 10px;
  overflow: hidden;
}

#fBorder span {
  display: block;
  height: 10px;
  background: #58c603;
  width: 240px;
  border-left: 5px solid #fff;
  position: relative;
}

#fBorder span:before {
  position: absolute;
  top: 2px;
  right: -20px;
  height: 35px;
  width: 35px;
  content: "";
  background: #58c603;
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#inputSubscribe {
  width: 81%;
  height: 30px;
  padding: 0 5px;
  margin: 10px 0;
  display: block;
}

.btnSubscribe {
  width: 40%;
  line-height: 30px;
  background: #58c603;
  border: none;
  color: #fff;
}

.btnSubscribe:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.ft-bd {
  border-right: 1px dotted #ccc;
}

.ft-bd h5 {
  font-weight: bold;
  text-transform: uppercase;
  color: #58c603;
  padding: 5px 10px;
  margin: 0;
}

.ft-bd p {
  padding: 3px 10px;
  font-size: 12px;
  color: #4f4f4f;
  margin: 0;
}

.ft-bd p a {
  padding: 3px 0;
  display: block;
}

.qts_footer_mid .c > h6 {
  font-weight: bold;
  padding: 3px 0;
  border-bottom: 1px dotted #ccc;
  margin-bottom: 8px;
}

.qts_footer_mid .c > h6:first-letter {
  color: #58c603;
}

.qts_footer_mid .c > a {
  display: block;
  color: #636363;
  margin: 3px 0;
  max-width: 90%;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.qts_footer_mid .c > a:hover {
  color: #58c603;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.ft-addr,
.ft-hl,
.ft-mail {
  line-height: 2.2;
  font-size: 12px;
}

.ft-addr,
.ft-hl,
.ft-mail {
  position: relative;
}

/* 
// ****************************************************************************
// *                                   slide                                  *
// ****************************************************************************
*/
.slider_main.owl-carousel .owl-dots .owl-dot span {
  width: 5px;
  height: 5px;
}

.slider_main.owl-carousel .owl-dots .owl-dot.active span, .slider_main.owl-carousel .owl-dots .owl-dot:hover span {
  background-color: #fff;
  -webkit-box-shadow: 0 0 0px 2px #fff;
          box-shadow: 0 0 0px 2px #fff;
}

.slider_new.owl-carousel .owl-nav [class^="owl-"] {
  opacity: 1;
  padding: 0 10px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.slider_new.owl-carousel .owl-nav [class^="owl-"] .fa {
  font-size: 25px;
}

@media (min-width: 1200px) {
  .slider_new.owl-carousel .owl-nav .owl-prev {
    left: -35px;
  }
  .slider_new.owl-carousel .owl-nav .owl-next {
    right: -35px;
  }
}

/*==================================================Slider detail=================================================================*/
.gc-icon.gc-icon-download {
  display: none !important;
}

.gc-thumbs-area-next .gc-icon.gc-icon-next:before {
  content: "\f105" !important;
  font: normal normal normal 24px/1 fontawesome !important;
  width: 24px;
  height: 24px;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.gc-thumbs-area-prev .gc-icon.gc-icon-prev:before {
  content: "\f104" !important;
  font: normal normal normal 24px/1 fontawesome !important;
  width: 24px;
  height: 24px;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.gc-display-area .gc-icon.gc-icon-next {
  width: 36px !important;
  height: 50px !important;
  right: 10px;
}

.gc-display-area .gc-icon.gc-icon-next:before {
  content: "\f105" !important;
  font: normal normal normal 48px/1 fontawesome !important;
  width: 36px;
  color: #fff;
  height: 50px;
  text-align: center;
}

.gc-display-area .gc-icon.gc-icon-prev {
  width: 36px !important;
  height: 50px !important;
  left: 10px;
}

.gc-display-area .gc-icon.gc-icon-prev:before {
  content: "\f104" !important;
  font: normal normal normal 48px/1 fontawesome !important;
  width: 36px;
  color: #fff;
  height: 50px;
  text-align: center;
}

.gc-overlay-right-icons .gc-icon.gc-icon-next {
  width: 36px !important;
  height: 50px !important;
  text-align: center;
}

.gc-overlay-right-icons .gc-icon.gc-icon-next:before {
  content: "\f105" !important;
  font: normal normal normal 48px/1 fontawesome !important;
  width: 36px !important;
  height: 50px !important;
  color: #fff;
}

.gc-overlay-left-icons .gc-icon.gc-icon-prev {
  width: 36px !important;
  height: 50px !important;
  text-align: center;
}

.gc-overlay-left-icons .gc-icon.gc-icon-prev:before {
  content: "\f104" !important;
  font: normal normal normal 48px/1 fontawesome !important;
  width: 36px !important;
  height: 50px !important;
  color: #fff;
}

.gc-icon.gc-icon-enlarge {
  display: none !important;
}

.gc-overlay-top-icons .gc-icon.gc-icon-close:before {
  content: "\f00d" !important;
  font: normal normal normal 25px/1 fontawesome !important;
  color: #fff;
  width: 24px;
  text-align: center;
}

.slider_detail .glass-case ul li {
  border: none;
}

.slider_detail .glass-case img {
  width: initial;
}

.slider_detail .glass-case .gc-thumbs-area .gc-icon {
  border: none;
  margin-top: 0px !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: initial;
  height: initial;
}

.slider_detail .glass-case .gc-thumbs-area .gc-icon.gc-icon-next-vt:before {
  font-family: Fontawesome;
}

.fixed-hotline {
  background: url(../img/fixed-hotline.png) no-repeat;
  position: fixed;
  z-index: 4;
  bottom: 50px;
  right: 10px;
  padding: 15px 40px 25px 100px;
  color: #fff;
}

.fixed-hotline {
  padding: 0;
}

.fixed-hotline .close:after {
  font-family: FontAwesome;
  content: "\f00d";
}

.fixed-hotline .close.mini:after {
  content: '+';
}

.fixed-hotline .fixed-content {
  padding: 15px 40px 25px 100px;
}

#menuRight {
  position: fixed;
  top: 0;
  right: 0;
  background: #58c603;
  height: 100%;
  width: 35px;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
  z-index: 111;
}

#menuRight > li:first-of-type > p {
  padding: 0;
}

#menuRight > li:last-of-type {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 35px;
}

#menuRight > li {
  margin: 5px 0;
}

#menuRight > li:hover,
#menuRight > li.active {
  background: #58c603 ;
}

#menuRight > li.active > ul {
  display: block;
}

#menuRight > li.close {
  visibility: hidden;
}

#menuRight > li.close.show {
  visibility: visible;
}

#menuRight > li > p {
  display: block;
  color: #000;
  cursor: pointer;
  text-align: center;
  padding: 10px 0;
  position: relative;
  font-size: 11px;
}

#menuRight > li > p > a {
  color: #000;
}

#menuRight > li > a {
  display: block;
  width: 34px;
}

#menuRight > li > p > span {
  background: #58c603;
  line-height: normal;
  padding: 0 4px;
  display: inline-block;
  color: #000;
  font-size: 11px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-weight: bold;
  margin-top: 3px;
}

#menuRight > li > p i {
  display: block;
  height: 25px;
}

#menuRight > li > ul {
  position: absolute;
  top: 0;
  left: 35px;
  width: 280px;
  background: #f7f7f7;
  height: 100%;
  display: none;
}

#menuRight > li > ul > li:first-of-type {
  line-height: 30px;
  text-transform: uppercase;
  background: #464646;
  color: #fff;
  font-size: 11px;
  text-align: center;
}

#menuRight > li > ul > li:last-of-type {
  padding: 10px;
}

#menuRight .itemCarts {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

#menuRight .itemCarts > a {
  float: left;
  width: 50px;
  margin-right: 5px;
}

#menuRight .itemCarts > a > img {
  display: block;
  width: 100%;
}
.prod2 > h3 {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*# sourceMappingURL=../maps/style.css.map */
/*++++++++++++++++++++++++++++++++++++++++24/10/2017*/
/*++++++++++++++++++++++++++++++++++++++++24/10/2017*/
/*++++++++++++++++++++++++++++++++++++++++24/10/2017*/
.prod{
  border-color: #ccc;
}
.prod:hover{
  border-color: #58c603;
}
.title-link .more:hover{
  color: #58c603!important;
}